/* pembeli_navbar.css */
.navbar {
    background-color: #333;
    overflow: hidden;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a, .dropbtn {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.navbar-right {
    float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sub-item {
    padding-left: 30px;
    font-size: 14px;
    color: #555;
}
